body {
    background-image: url("assets/backgrounds/HomePageBackGround.png");
}

body>div>h1 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: red;
}

body>div>div>a:visited {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: aqua;
}

body>div>div>a:link {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: aqua;
}