body {
    background-image: url("assets/backgrounds/HomePageBackGround.png");
}

body>div>h1 {
    text-align: center;
    font-family: Helvetica, sans-serif;
    color: red;
}

body>div.box_ {
    border-style: outset;
    border-color: black;
}

body>div>div>a {
    font-family: Helvetica, sans-serif;
    color: aqua;
}